@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}
.footer {
  display: fixed;
}
.subscriber {
  border-top: 3px solid grey;
}
.testimonial {
  border-top: 3px solid grey;
}
.error-message {
  color: red;
}
